<div class="panel panel-default">
  <div class="panel-body">
    <h3>关于</h3>
    <p>这是我的个人博客，它是使用Django开发的</p>
 </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>文章分类</h3>
    {% if categories %}
    <ul class="list-unstyled">
    {% for c in categories %}
      <li>- <a href="{{ c.get_absolute_url }}">{{ c.name|safe }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>登录入口</h3>
    <p>
      <a href="/admin">登录</a><br />
      <a href="/admin/logout">退出登录</a>
    </p>
</div>
</div>
