{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}{% if is_category %}“{{ cate_name|safe }}”文章列表{% else %}首页{% endif %}{% endblock %}
{% block content %}
{% if is_category %}
<div class="well well-sm">
	“{{ cate_name|safe }}”分类中共有
	<span class="label label-info">{{ posts|length}}</span>篇：
</div>
{% endif %}
{% autopaginate posts %}
{% if posts %}
{% for post in posts %}
{% include "blog/_post.html" %}
{% endfor %}
{% else %}
<h4>暂时还没有发布任何内容~~</h4>
{% paginate %}
{% endblock %}

{% block rightside %}
{% include "blog/_side.html" %}
{% endblock %}
