/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  height: auto;
  min-height: 100%;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  
}

code {
  font-size: 80%;
}

/* my */

.content {
  margin: 5px 0;
  font-family: Georgia,"Times New Roman",Times,"Songti SC","SimSun",serif;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 100;
  color: #2f2f2f;
}

.info {
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
}

.post {
  border-bottom: 1px dotted #ccc;
}

blockquote p {
  font-size: 16px;
  color: #2f2f2f;
  line-height: 24px;
  font-weight: 100;
  word-break: break-word;
  font-family: Georgia,"Times New Roman",Times,"KaiTi",serif;
}

blockquote {
	border-left: 5px solid #999;;
	background-color: #f6f6f6;
	line-height: 24px;
}

